---
import Layout from "../layouts/Layout.astro";
import { productList } from "../use-cases/queries/cc-products.ts";
import { CcProducts } from "../components/CcProducts";

---

<Layout
  title="Car Product's"
  description="Venta de productos de automóviles">
  <div class="py-50 lg:container mx-auto w-full md:px-0 px-3">
    <CcProducts products={productList.products} />
  </div>
</Layout>
