---
import { ViewTransitions } from "astro:transitions";
import { Header } from "../components/header";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative text-text bg-gray-50">
    <Header client:only />
    <slot />
    <footer class="container mt-40 mx-auto pb-10">
      <div class="flex mt-10 w-full text-center justify-end">
        <div class="mt-10 text-gray-300 text-xs">
          Build by <a href="https://priale.com" class="underline">Sinuhe</a>.
          Made with <a href="https://astro.build" class="underline">Astro</a>.
        </div>
      </div>
    </footer>
    <style is:global>
      @media screen and (max-width: 768px) {
        .crystallize-grid {
          display: flex !important;
          flex-direction: column !important;
        }
        .bg-fixed {
          display: none;
        }
      }
      .bg-fixed {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </body>
</html>
